/* You can add global styles to this file, and also import other style files */
#flags .drag-reference {
    border: 1px solid red;
    height: 0;
    position: absolute;
    width: 0;
  } 

  #flags .drag-reference-xyz{
    border: 1px solid red;
    height: 0;
    position: absolute;
    width: 0;
  } 
  #flags .drag-reference-xyz.drag-reference-xyzz,
  #flags .drag-reference.drag-reference-number {
    border: 1px solid blue !important;
  }
  #australia {
      left: 80px;
      top: 15px;
  }
  #bangla {
    margin-left: auto;
    right:0;
    top: 35px;
  }
  #china {
        left: 260px;
        top: 65px;
  }
  #denmark {
        left: 400px;
        top: 0px;
  }
  #one {
        left: 360px;
        top: -50px;
  }
  #two {
        left:300px;
        top: -100px;
  }